<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">
    
    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/pages/secure/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <security:intercept-url pattern="/pages/nonnsecure/**" access="permitAll"/>
        <security:intercept-url pattern="/**" access="permitAll"/>
        <security:form-login login-page='/login.xhtml' default-target-url="/pages/secure/secure1.xhtml" />
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user authorities="ROLE_ADMIN" name="admin" password="admin" />
                <security:user name="steve" authorities="ROLE_USER" password="stevo" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>